{% extends "index.html" %}

{% block contenido %}

<div class="row">
  <a href="/" class="text-end">Log out</a>
</div>

<div class="card text-center col-8 m-auto mt-4">
  <div class="card-header ">
    ¡Bienvenido! haz completado tu registro
  </div>
  <div class="card-body">
    <h5 class="card-title">Se ha registrado exitosamente.</h5>
    <p class="card-text">¡Bienvenido! Ya haz completado tu registro y puedes comenzar a navegar por nuestro sitio web.</p>
    <a href="/" class="btn btn-primary">Comenzar</a>
  </div>
<div class="card-footer text-muted">

</div>
</div>
{% endblock %}
